<% content_for :body_class, "body-stats" %>
<p>There are <span class="questions-count"><%= Question.all.count %></span> questions</p>
<hr />
<p>The hardest question is:</p>
<p class="difficult-question"><span><%= @hardest_question.text %></span></p>
<p>Which was only answered successfully <span class="question-difficulty"><%= @hardest_question.difficulty %>%</span> of the time</p>
<hr />
<p>The easiest question is:</p>
<p class="difficult-question"><span><%= @easiest_question.text %></p></span>
<p>Which was answered successfully <span class="question-difficulty"><%= @easiest_question.difficulty %>%</span> of the time</p>
